<aside>
    <ul id="slides">
        <% ['Homrevet', 'Hamnen Byxelkrok', 'Bodarna vid hamnen', 'Borgholm', 'Stenar Fagerrör', 'Sand i hand', 'Solnedgång Byxelkrok'].each_with_index do |picture, i| %>
            <li class="<%= 'active' if i.zero? %>">
                <img src="/assets/slides/<%= i %>.jpg" alt="<%= picture %>" width="100%">
                <p class="fancy"><%= picture %></p>
            </li>
        <% end %>
    </ul>
</aside>

<article class="with-aside">
    <h1>Varmt välkomna till vårt strandbröllop</h1>
    <p>
    	Vi har den stora äran att bjuda in er till vårt bröllop som kommer att äga rum på Norra Öland. Vigseln kommer att äga rum <%= time_tag configatron.wedding_date, l(configatron.wedding_date, format: '%Y-%m-%d kl. %H.%M') %> på stranden Homrevet. Vid dåligt väder är Bödakyrka inbokad.
    </p>
    <p>
    	Därefefter intar vi en sommarbuffé på restaurang Svea (f.d jägmästarbostaden) i Skäftekärr.
    </p>
    <p>
    	Klädsel kavaj.
    </p>
    <p>
    	Varmt välkomna<br>
    	<span class="fancy">Nenne &amp; Björne</span>
    </p>
</article>
