<article>
	<h1>Bröllopsdagen</h1>
	<ol class="schedule">
		<li>
			<%= time_tag configatron.wedding_date, "Kl. #{l configatron.wedding_date, format: '%H.%M'}" %>
			Hålls vigseln på stranden Homrevet, alternativt Böda kyrka vid dåligt väder.
		</li>
		<li>
			<%= time_tag configatron.wedding_date + 90.minutes, "Kl. #{l configatron.wedding_date + 90.minutes, format: '%H.%M'} - #{l configatron.wedding_date + 150.minutes, format: '%H.%M'}" %>
			I väntan på brudparets ankomst serveras förfriskningar på restaurang Svea.
		</li>
		<li>
			<%= time_tag configatron.wedding_date + 3.hours, "Kl. #{l configatron.wedding_date + 3.hours, format: '%H.%M'}" %>
			Serveras sommarbuffé på restaurang Svea.
		</li>
	</ol>

	<h2>Att tänka på</h2>
	<p>För er med höga klackar kan det bli aktuellt med ombyte till sandaler eller barfota för promenad till stranden.</p>
	<p>Efter vigseln går färden till Skäftekärr där middagen och festen äger rum, efter middagen finns det även möjlighet för bar och dans.</p>

	<h2>Toastmaster</h2>
	<p>
		Vill ni säga något under middagen får ni gärna kontakta <%= link_to 'Toastmasters Björn & Carina Lyngvik', rsvp_path %>.
	</p>
	<p>
		Om ni har plats över i bilen eller vill åka med i någon annans bil, hör av er till <%= link_to 'Toastmasters Björn & Carina', rsvp_path %>, så försöker de att samordna transporterna.
	</p>
</article>
