<!DOCTYPE html>
<html>
<head>
  <title>Wedding</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 style="font-family: cursive;">
	Nenne &amp; Björne<br>
	15 Juli 2014
</h1>

<hr>

<nav>
	<%= link_to 'Välkomna', root_path %>
	<%= link_to 'Bröllopsdagen', wedding_path %>
	<%= link_to 'Boende', living_path %>
	<%= link_to 'Att ta sig till och runt på Öland', navigation_path %>
	<%= link_to 'Ölandstips', tips_path %>
	<%= link_to 'O.s.a', rsvp_path %>
</nav>

<%= yield %>

</body>
</html>
